<!DOCTYPE html>
<html class="allpage">
  <head>
    <title>Munchies</title>
    <link rel="stylesheet" type= "text/css" href="../css/index.css" />
  </head>

<center>
<body>
<div class="wrapper">
  <h1 class="title">Welcome to Munchies!</h1>
  <h2 class="lol">Munchies is a platform to help indecisive people decide on a restaurant</h2>
  <div class="forms"> </div>
    <div class="help">
    <form method="POST" action="/results">
      <strong>City Name: </strong> <input type="text" name="cities" maxlength="60" tabindex="10" placeholder="Enter Location"></input><br><br>
      <strong>Radius: </strong><input type="text" name="search_radius" maxlength="35" tabindex="10" placeholder="Radius of Search in Meters"><br><br>
      <strong>Restaurant Type: </strong>
      <select name="restaurant_category" id="restaurant_place">
        <option value="restaurant">Restaurant</option>
        <option value="bar">Bar</option>
        <option value="cafe">Cafe</option>
        <option value="diner">Diner</option>
      </select>
      <br><br>
      <input type="submit" value="submit"></input>
    </form>
  </div>
</div>
</body>
<center>
</html>
